{% extends 'base/base.html' %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{ title }}</h4>
                                <p class="category">Estas son las funciones disponibles:</p>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}"> <span>{{ message }}</span></div>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="content all-icons">
                                <div class="row">
                                    <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <a href="/security/profile">
                                            <div class="font-icon-detail"><i class="pe-7s-users"></i>
                                                <h4>Perfiles</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <a href="/security/quiz">
                                            <div class="font-icon-detail"><i class="pe-7s-note2"></i>
                                                <h4>Formularios</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <a href="/security/event">
                                            <div class="font-icon-detail"><i class="pe-7s-date"></i>
                                                <h4>Eventos</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <a href="/security/user">
                                            <div class="font-icon-detail"><i class="pe-7s-user"></i>
                                                <h4>Usuarios</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <a href="/security/permission">
                                            <div class="font-icon-detail"><i class="pe-7s-door-lock"></i>
                                                <h4>Permisos</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <a href="/security/tester">
                                            <div class="font-icon-detail"><i class="pe-7s-id"></i>
                                                <h4>Testers</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}