{% extends 'base/base.html' %}


{% block content %} 
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/security/dashboard" data-original-title="" title="">Dashboard</a></li>
                                <li><a href="/security/profile" data-original-title="" title="">Listado de perfiles</a></li>
                                <li>{{ title }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{ title }}</h4>
                                <p class="category">Ingresa todos los datos del formulario</p>
                            </div>
                            <div class="content">
                                <form action="" method="post">
                                    {% from "_macro.html" import render_field %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                {% for category, message in messages %}
                                                    <div class="alert alert-{{ category }}"> <span>{{ message }}</span></div>
                                                {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ render_field(form.permission_id, class = 'ul-checkbox') }}
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <br>
                                                <button type="submit" class="btn btn-info btn-fill pull-right">Guardar Cambios</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %} 