{% extends 'base/base.html' %}

{% from "_macro.html" import render_pagination %}


{% block content %}        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/security/dashboard" data-original-title="" title="">Dashboard</a></li>
                                <li>Listado de Perfiles</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                    <h4 class="title">{{ title }}</h4>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    <a href="/security/profile/create" rel="tooltip" title="" class="btn btn-info btn-fill pull-right" data-original-title="Agregar">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="category">Mostrando un total de {{ data.total }} registros</p>
                                </div>
                                <br> 
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}"> <span>{{ message }}</span></div>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12"><hr></div>
                            <div class="content table-responsive table-full-width">
 
                                {% if data['items'] %}
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>PERFIL</th>
                                            <th>DESCRIPCIÓN</th>
                                            <th>FECHA REGISTRO</th>
                                            <th class="text-center">ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in data['items'] %}
                                        <tr>
                                            <td class="text-center">{{ loop.index }}</td>
                                            <td>
                                                {{ item.title }}
                                            </td>
                                            <td>
                                                {{ item.description }}
                                            </td>
                                            <td>
                                                {{ item.register_date }}
                                            </td>
                                            <td class="text-center">
                                                <a href="/security/profile/permission/{{ item.id }}" rel="tooltip" title="" class="btn btn-success btn-simple btn-xs" data-original-title="Permisos">
                                                    <i class="fa fa-key"></i>
                                                </a>
                                                <a href="/security/profile/edit/{{ item.id }}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Editar">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="/security/profile/delete/{{ item.id }}" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Eliminar">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {{ render_pagination(data) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}