{% macro render_field(field) %}
<div class="form-group">
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
      {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% macro render_pagination(pagination) %}
<div class="fixed-table-pagination">
  <div class="pull-right pagination">
    <br>
    <ul class="pagination">
      <li class="page-first disabled"><a href="javascript:void(0)">&lt;&lt;</a></li>
      <li class="page-pre disabled"><a href="javascript:void(0)">&lt;</a></li>
      {% for page in  pagination.iter_pages() %}
        {% if page == pagination.page %}
          <li class="page-pre disabled"><a href="javascript:;">{{ page }}</a></li>
        {% elif page is none %}
          <li class="page-pre disabled"><a href="javascript:;"> ... </a></li>
        {% else %}
          <li class="page-pre"><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-next disabled"><a href="javascript:void(0)">&gt;</a></li>
    <li class="page-last disabled"><a href="javascript:void(0)">&gt;&gt;</a></li>
  </ul>
  </div>
</div>
{% endmacro %}