<!DOCTYPE HTML>
<html>
<head>
    <title>Emergencia</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
  <div class="container">
      <h1>Emergencia</h1>
     
  </div>
  <input type="text" name="address" id="address" placeholder="Ubicación" class="form-control col-sm-6" >
  <div id="map"></div>

  <div class="container">
     	<h1>tools</h1>
    <form>
  		<div class="form-row">
    		<div class="col">
      			<button type="button" class="form-control" value="Ambulancias (2)" >Ambulancias (2)</button>
    		</div>
    		<div class="col">
     			<button type="button" class="form-control" value="Vehiculo de rescate (3)">Vehiculo de rescate (3)</button>
    		</div>
  		</div>
  	</form>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKWHoWC4ePSdBdrRTDj7y6mSwN_kyuex0&libraries=places&callback=initMap"
        async defer></script>
</body>
</html>