<html lang="es"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}"> <span>{{ message }}</span></div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form class="form" method="post" action="/security/">
        {% from "_macro.html" import render_field %}
        <h2 class="form-signin-heading">Iniciar Sesión</h2>
        <div class="form-group">
          {{ render_field(form.email, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field(form.password, class='form-control') }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </form>
      </div> 
    </div> <!-- /container -->
  

</body></html>