<!DOCTYPE HTML>
<html>
<head>
    <title>Maps</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
  <div class="container">
      <h1>Bomberos</h1>
      <form>
        <div class="form-group">
          <input type="button" name="search" value="Iniciar Operación" onclick="geolocate();" class="form-control">
        </div>
        <div class="form-group">
          <select name="type_emergency" class="form-control">
            <option value="">- Seleccionar -</option>
            <option value="">Incendio</option>
            <option value="">Transito</option>
            <option value="">Domestico</option>
          </select>
        </div>
      </form>
  </div>
  <input type="text" name="address" id="address" placeholder="Ubicación" class="form-control col-sm-6" >
  <div id="map"></div>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDizlo-p6WKuDg2GRbxe_2J57pDl_Tbn74&libraries=places&callback=initMap"
        async defer></script>
</body>
</html>